<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistDashboardServlet</servlet-name>
        <servlet-class>controller.ReceptionistDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <servlet-class>controller.ManagerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianDashboardServlet</servlet-name>
        <servlet-class>controller.TechnicianDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <servlet-class>controller.CustomerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <servlet-class>controller.CustomerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserServlet</servlet-name>
        <servlet-class>controller.ManagerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServiceServlet</servlet-name>
        <servlet-class>controller.ManagerServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardPageServlet</servlet-name>
        <servlet-class>controller.ManagerDashboardPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUsersPageServlet</servlet-name>
        <servlet-class>controller.ManagerUsersPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServicesPageServlet</servlet-name>
        <servlet-class>controller.ManagerServicesPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerReportsPageServlet</servlet-name>
        <servlet-class>controller.ManagerReportsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPaymentsPageServlet</servlet-name>
        <servlet-class>controller.ManagerPaymentsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingServlet</servlet-name>
        <servlet-class>controller.CustomerBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAppointmentActionServlet</servlet-name>
        <servlet-class>controller.CustomerAppointmentActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianQuotationServlet</servlet-name>
        <servlet-class>controller.TechnicianQuotationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnicianCommentServlet</servlet-name>
        <servlet-class>controller.TechnicianCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistPaymentServlet</servlet-name>
        <servlet-class>controller.ReceptionistPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistAppointmentServlet</servlet-name>
        <servlet-class>controller.ReceptionistAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistCustomerProfileServlet</servlet-name>
        <servlet-class>controller.ReceptionistCustomerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCancellationServlet</servlet-name>
        <servlet-class>controller.AppointmentCancellationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistDashboardServlet</servlet-name>
        <url-pattern>/ReceptionistDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <url-pattern>/ManagerDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianDashboardServlet</servlet-name>
        <url-pattern>/TechnicianDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <url-pattern>/CustomerDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationServlet</servlet-name>
        <url-pattern>/CustomerRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserServlet</servlet-name>
        <url-pattern>/ManagerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServiceServlet</servlet-name>
        <url-pattern>/ManagerServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardPageServlet</servlet-name>
        <url-pattern>/ManagerDashboardPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUsersPageServlet</servlet-name>
        <url-pattern>/ManagerUsersPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServicesPageServlet</servlet-name>
        <url-pattern>/ManagerServicesPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerReportsPageServlet</servlet-name>
        <url-pattern>/ManagerReportsPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPaymentsPageServlet</servlet-name>
        <url-pattern>/ManagerPaymentsPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingServlet</servlet-name>
        <url-pattern>/CustomerBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAppointmentActionServlet</servlet-name>
        <url-pattern>/CustomerAppointmentActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianQuotationServlet</servlet-name>
        <url-pattern>/TechnicianQuotationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnicianCommentServlet</servlet-name>
        <url-pattern>/TechnicianCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistPaymentServlet</servlet-name>
        <url-pattern>/ReceptionistPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistAppointmentServlet</servlet-name>
        <url-pattern>/ReceptionistAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistCustomerProfileServlet</servlet-name>
        <url-pattern>/ReceptionistCustomerProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCancellationServlet</servlet-name>
        <url-pattern>/AppointmentCancellationServlet</url-pattern>
    </servlet-mapping>
</web-app>
